<section>
  <div class="d-flex justify-content-between">
    <h4>Lista de productos</h4>
    <a routerLink="/product/create" class="btn btn-success">Crear un nuevo producto</a>
  </div>
  <br />
  <table class="table table-striped ">
    <tbody class="">
      <tr *ngFor="let product of products; let icontrol=index">
        <th>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <img class="img-fluid img-thumbnail" alt="{{product.imagen}}" src="{{product.imagen}}" width="auto"
                  height="250">
              </div>
            </div>
          </div>
          <br>
        </th>
        <th>
          <h1>Descripción</h1>
          <h2>{{product.descripcion}}</h2>
          <br>
          <h1>Precio: {{product.precio}}</h1>
          <br><br>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="#" [routerLink]="['/product/', 'edit', product.id]" class="btn btn-primary">
                Editar
              </a>
              <button type="button" (click)="deleteProduct(product.id)" class="btn btn-danger">
                Borrar
              </button>
            </div>
          </div>
        </th>
      </tr>
    </tbody>
  </table>